{% extends "layout.html" %}
{% block body %}
{% if error %}<p class="text-warning"><strong>Warning:</strong> {{ error }}</p>{% endif %}

<h1>Add Model</h1>

<form role="form" action="{{ url_for('add_model_process') }}" method=post>
    <div class="form-group">
        <label for="phraseInput">Model Name:</label>
        <input name="phraseInput" type="text" class="form-control" id="phraseInput" placeholder="Enter phrase">
    </div>
    <div class="form-group">
        <label for="labelInput">Type:</label>
        <input name="labelInput" type="text" class="form-control" id="labelInput" placeholder="Enter label">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
