{% extends "layout.html" %}
{% block body %}
{% if error %}<p class="text-warning"><strong>Warning:</strong> {{ error }}</p>{% endif %}

<h1>Add Model</h1>

<form role="form" action="{{ url_for('add_model_process') }}" method=post>
    <div class="form-group">
        <label for="modelName">Model Name:</label>
        <input name="modelName" type="text" class="form-control" id="modelName" placeholder="Enter model">
    </div>
    <div class="form-group">
        <label for="modelType">Type:</label>
        <input name="modelType" type="text" class="form-control" id="modelType" placeholder="Enter label">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
